<header class="jumbotron">
  <h1 class="text-center">
    Cadastro de fotos
  </h1>
</header>
<main class="container">
  <div class="row">
    <form class="col-md-7" [formGroup]="formCadastro" (ngSubmit)="salvar()">
      <div class="form-group">
          <label for="">Titulo</label>
          <input type="text" class="form-control" name="titulo" formControlName="titulo" required >
        <!--  {{formCadastro.controls['titulo'].invalid}}
          {{formCadastro.controls['titulo'].errors?.required}}
          {{formCadastro.controls['titulo'].errors?.minLength | json}}
        -->
        <div *ngIf="formCadastro.controls['titulo'].touched">
          <caelumpic-mensagem *ngIf="formCadastro.controls['titulo'].errors?.required"
          tipo="danger" texto="Titulo é obrigatório"></caelumpic-mensagem>

          <caelumpic-mensagem *ngIf="formCadastro.controls['titulo'].errors?.minlength" tipo="danger"
           texto="Mínimo de {{formCadastro.controls['titulo'].errors?.minlength?.requiredLength}} caracteres"></caelumpic-mensagem>
        </div>
      </div>
      <div class="form-group">
        <label for="">Url</label>
        <input type="text" class="form-control" name="url" formControlName="url" required >
        <caelumpic-mensagem tipo="danger" *ngIf="formCadastro.controls['url'].touched && formCadastro.controls['url'].invalid" texto="URL é obrigatório"></caelumpic-mensagem>
      </div>

      <div class="form-group">
        <label for="">Descrição</label>
        <textarea class="form-control" name="descricao" formControlName="descricao" ></textarea>
      </div>
      <div class="btn-group">
        <a routerLink="" class="btn btn-dark">Voltar</a>
        <button class="btn btn-primary" [disabled]='formCadastro.invalid' *ngIf='!foto._id'>Salvar</button>
        <button class="btn btn-primary" *ngIf='foto._id'>Atualizar</button>
      </div>
    </form>
    <aside class="col-md-5">
      <h2>Preview</h2>
      <caelumpic-painel [foto]="foto" *ngIf="foto.url">
        <foto [url]='foto.url' [titulo]='foto.titulo' [tooltip]='foto.titulo'></foto>
      </caelumpic-painel>
    </aside>
  </div>
</main>
